$brand-primary: #ffce4a;

.article-header {
  height: 400px;
  position: relative;
}

.article-header::before {
  background-color: #404040a6;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.logo {
  background-color: #ffce4a;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  left: 0;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 0;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

a {
  background-color: $brand-primary;
  border: none;
  border-radius: 20px;
  bottom: 16px;
  color: #fff;
  padding: 10px 14px;
  right: 10px;
  font-size: 14px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  bottom: 40px;
  color: #fff;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 900;
  left: 50px;
  position: absolute;
}
