$article-card-height: 420px;
$article-card-width: 620px;

.article-card {
  box-shadow: 2px 3px 4px 2px #00000042;
  display: inline-block;
  height: $article-card-height;
  position: relative;
  width: $article-card-width;
}

.article-card::after {
  background-color: #00000099;
  content: '';
  height: 100%;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.article-card__image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

h1 {
  bottom: 30px;
  left: 30px;
  color: #fff;
  font-family: Roboto;
  font-weight: 900;
  position: absolute;
}

.article-card__date {
  bottom: 20px;
  left: 30px;
  font-size: 20px;
  color: #ffffffe8;
  position: absolute;
}
