.article-body {
  background-color: #fefefe;
  box-shadow: 0 0 7px 1px #6d6d6d;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  top: -200px;
  width: 800px;
}

h1 {
  color: #474747;
  font-size: 50px;
}

h3 {
  color: #9e9e9e;
  font-weight: 300;
  margin-top: -30px;
}

.article-body__heading {
  font-family: Roboto;
  text-align: center;
}
