$dropdown-bg-color: #fdfdfd;
$dropdown-border-color: #d5d5d5;
$dropdown-border-radius: 0.4rem;
$dropdown-border-width: 0.1rem;
$dropdown-label-color: #707070;
$dropdown-label-font-family: "PT Sans";
$dropdown-label-font-size: 1.4rem;
$dropdown-label-font-weight: 400;
$dropdown-label-padding--x: 2.3rem;
$dropdown-label-padding--y: 1.2rem;
$dropdown-caret-right: 1.4rem;

.dropdown__outer {
  height: 100%;
  margin-bottom: 0;
}

.dropdown__label {
  color: $dropdown-label-color;
  font-family: $dropdown-label-font-family;
  font-size: $dropdown-label-font-size;
  font-weight: $dropdown-label-font-weight;
  line-height: $dropdown-label-font-size;
  padding: $dropdown-label-padding--y $dropdown-label-padding--x;
  padding-right: $dropdown-label-padding--x + $dropdown-caret-right;
  white-space: nowrap;

  .dropdown--right & {
    right: 0;
  }
}

.dropdown__list {
  min-width: 100%;
  padding: 0;
  width: auto;
}

.dropdown__outer[data-type*="select-one"]:after {
  border-top-color: $dropdown-border-color;
  right: $dropdown-caret-right;
}
