$brand-color: #11172a;

.entry-field {
  border: 1px solid $brand-color;
  border-radius: 3px;
  box-sizing: border-box;
  color: $brand-color;
  font-family: system-ui;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
  width: 100%;
}
