/*
 * Base styles
 */
.smart-button-base {
  cursor: pointer;
}

.smart-button-base:focus {
  outline: 0;
}

/*
* Smart Button
*/
.smart-button {
  background-color: #fa1744;
  border: 1px solid #fa1744;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 0.813em;
  font-weight: 700;
  height: 48px;
  letter-spacing: 1.2px;
  line-height: 1.2;
  min-width: 176px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;
}

.smart-button--blue {
  background-color: #5584fe;
  border: 1px solid #5584fe;
}

/* Disabled */
.smart-button[disabled] {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
  color: #fff;
  cursor: not-allowed;
}

/*
* Outline buttons
*/
.smart-button--outline {
  background-color: initial;
  color: #fa1744;
}

.smart-button--outline.smart-button--blue {
  color: #5584fe;
}

/*
* Settings slider button
*/
.smart-settings-slider-button {
  background-color: #939393;
  border: none;
  border-radius: 4px;
  padding: 12px 14px;
}
