* {
  box-sizing: border-box;
}

// Brand colors
$va-brand-color--primary: #743af6;
$va-brand-text-color--primary: #2c3847;

$va-page-padding--x: 4rem;

// Box
$va-box-bg-color: #fdfdfd;
$va-box-border-radius: 0.3rem;
$va-box-min-height: 17.2rem;
$va-box-title-height: 5.5rem;
$va-box-title-border-bottom-color: #eeeeef; // TODO: variable
$va-box-title-border-bottom-width: 0.1rem;
$va-box-title-color: $va-brand-text-color--primary;
$va-box-title-font-family: Lato;
$va-box-title-font-size: 0.9rem;
$va-box-title-font-size--large: 1.4rem;
$va-box-title-font-weight: 900;
$va-box-title-padding--x: 3.1rem;
$va-box-title-padding--x--large: 6.1rem;

// Breakout List
$va-breakout-list-bg-color: #fafafa; // TODO: variable
$va-breakout-list-padding--x: 6rem;
$va-breakout-list-padding-bottom: 3.3rem;
$va-breakout-list-padding-top: 1.3rem;
// Breakout List Item
$va-breakout-list-item-bg-color--active: #f2f2f2;
$va-breakout-list-item-padding--y: 10px;
$va-breakout-list-item-color: #7e7e7e;
$va-breakout-list-item-font-family: Lato;
$va-breakout-list-item-font-size: 1.2rem;
$va-breakout-list-item-font-weight: 400;

// Button
$va-button-bg-color--primary: $va-brand-color--primary;
$va-button-color--primary: #fff;
$va-button-border-radius: 0.4rem;
$va-button-font-size: 0.8rem;
$va-button-padding--x: 3rem;
$va-button-padding--y: 10px;

// Data Label
$va-data-label-color: #b1b1b1; // TODO: variable
$va-data-label-font-family: Lato;
$va-data-label-font-size: 1.1rem;
$va-data-label-font-weight: 600;

// Data Value
$va-data-value-color--gray: #7e7e7e;
$va-data-value-font-family: Lato;
$va-data-value-font-size: 1.2rem;
$va-data-value-font-size--large: 3.2rem;
$va-data-value-font-weight: 600;
$va-data-value-font-weight--large: 600;

// H
$va-h-color--h1: $va-brand-text-color--primary;
$va-h-color--h6: #000;
$va-h-font-family: Lato;
$va-h-font-size--h1: 2.4rem;
$va-h-font-size--h6: 10px;
$va-h-font-weight--h1: 900;
$va-h-font-weight--h6: 900;

// HR
$va-hr-bg-color: #eeeeef; // TODO: variable
$va-hr-height: 0.1rem;

// Left Nav
$va-left-nav-bg-color: #9160ff; // TODO: variable
$va-left-nav-bg-color--gradient: linear-gradient(
  180deg,
  #9160ff 0%,
  #6524f5 100%
);
$va-left-nav-width: 23rem;
// Left Nav Header
$va-left-nav-header-img-margin-bottom: 2.6rem;
$va-left-nav-header-padding--x: 4.3rem;
$va-left-nav-header-padding--y: 3rem;
// Left Nav Link
$va-left-nav-link-active-indicator-bg-color: #fff;
$va-left-nav-link-active-indicator-width: 0.5rem;
$va-left-nav-link-bg-color--active: unquote('#5610f233');
$va-left-nav-link-color: #fff;
$va-left-nav-link-font-family: Lato;
$va-left-nav-link-font-size: 1.4rem;
$va-left-nav-link-font-weight: 600;
$va-left-nav-link-padding--x: 2.3rem;
$va-left-nav-link-padding--y: 2.1rem;
// Left Nav Link Notification Count
$va-left-nav-link-notification-count-bg-color: #fff;
$va-left-nav-link-notification-count-border-radius: 0.8rem;
$va-left-nav-link-notification-count-color: $va-brand-color--primary;
$va-left-nav-link-notification-count-font-family: Lato;
$va-left-nav-link-notification-count-font-size: 10px;
$va-left-nav-link-notification-count-font-weight: 400;
$va-left-nav-link-notification-count-padding--x: 0.7rem;
$va-left-nav-link-notification-count-padding--y: 0.1rem;
// Left Nav Footer
$va-left-nav-footer-logout-color: #fff;
$va-left-nav-footer-logout-font-family: Lato;
$va-left-nav-footer-logout-font-size: 1.4rem;
$va-left-nav-footer-logout-margin-left: 2.6rem;
$va-left-nav-footer-padding-bottom: 6.6rem;
$va-left-nav-footer-padding-left: 4.4rem;

// Link Back
$va-link-back-arrow-margin-right: 0.5rem;
$va-link-back-arrow-size: 0.4rem;
$va-link-back-color: #585e64;
$va-link-back-font-family: Lato;
$va-link-back-font-size: 10px;
$va-link-back-font-weight: 600;
$va-link-back-margin--y: 2rem;

// Login
$va-login-left-bg-color: $va-left-nav-bg-color;
$va-login-left-bg-color--gradient: $va-left-nav-bg-color--gradient;

// Nav Score Page
$va-nav-score-page-bg-color: #fff;
// Nav Score Page Tab
$va-nav-score-page-tab-color: #b1b1b1;
$va-nav-score-page-tab-color--active: $va-brand-color--primary;
$va-nav-score-page-tab-font-family: Lato;
$va-nav-score-page-tab-font-size: 1.2rem;
$va-nav-score-page-tab-font-weight: 900;
$va-nav-score-page-tab-icon-margin-right: 0.8rem;
$va-nav-score-page-tab-padding--x: 0;
$va-nav-score-page-tab-padding--y: 2.5rem;

// Progress Bar
$va-progress-bar-border-radius: 0.5rem;
$va-progress-bar-height: 0.4rem;
$va-progress-bar-track-bg-color: #f3f3f3;
$va-progress-bar-value-bg-color: $va-brand-color--primary;

// Progress Circle
$va-progress-circle-border-color: $va-brand-color--primary;
$va-progress-circle-percentage-color: #000;
$va-progress-circle-percentage-font-family: Lato;
$va-progress-circle-percentage-font-size: 2.4rem;
$va-progress-circle-percentage-font-weight: 400;
$va-progress-circle-track-border-color: #f8f8f8;

// Radio
$va-radio-option-circle-border-color: #eeeeef; // TODO: variable
$va-radio-option-circle-border-width: 0.1rem;
$va-radio-option-circle-margin-right: 0.4rem;
$va-radio-option-circle-size: 1.6rem;
$va-radio-option-color: #808080;
$va-radio-option-dot-size: 0.7rem;
$va-radio-option-font-family: Lato;
$va-radio-option-font-size: 0.8rem;
$va-radio-option-font-weight: 600;

// Score Page
$va-score-page-bg-color: $va-brand-text-color--primary;
$va-score-page-grid-gap: 1.8rem;
$va-score-page-padding--x: $va-page-padding--x;
$va-score-page-padding-bottom: 3.6rem;
$va-score-page-progress-box-width: ($va-box-min-height * 1.5);
// Score Page Title
$va-score-page-title-color: #fff;
$va-score-page-title-font-family: Lato;
$va-score-page-title-font-size: 2.4rem;
$va-score-page-title-font-weight: 900;
// Score Page Summary
$va-score-page-summary-vr-bg-color: #ededee;
$va-score-page-summary-vr-width: 0.1rem;
// Score Page Summary Mileage Reading
$va-score-page-summary-mileage-reading-padding--x: 4rem;

// Score Table
$va-score-table-hd-value-font-weight: 900;
$va-score-table-head-margin-bottom: 0.6rem;
$va-score-table-td-padding--y: 0.8rem;

// Text Field
$va-text-field-bg-color: #fff;
$va-text-field-border-radius: 0.3rem;
$va-text-field-border-color: #eeeeef;
$va-text-field-border-width: 0.1rem;
$va-text-field-color: $va-brand-text-color--primary;
$va-text-field-color--active: $va-text-field-color;
$va-text-field-font-family: Lato;
$va-text-field-font-size: 1.1rem;
$va-text-field-font-size--active: 10px;
$va-text-field-font-weight: 400;
$va-text-field-font-weight--active: 900;
$va-text-field-label-bg-color--active: #eeeeef; // TODO: variable
$va-text-field-height: 3.6rem;
$va-text-field-padding--x: 0.8rem;
$va-text-field-padding--y: 0.6rem;

// Top Nav
$va-top-nav-bg-color: #fff;
$va-top-nav-border-color: #eaeaeb;
$va-top-nav-border-width: 0.1rem;
$va-top-nav-height: 8rem;
// Top Nav Search
$va-top-nav-search-color: #b1b1b1;
$va-top-nav-search-font-family: Lato;
$va-top-nav-search-font-size: 1.4rem;
$va-top-nav-search-glass-margin-right: 1.9rem;
$va-top-nav-search-padding--x: $va-score-page-padding--x;
// Top Nav Profile
$va-top-nav-profile-width: 36rem;
$va-top-nav-profile-name-font-family: Roboto;
$va-top-nav-profile-name-font-size: 1.4rem;
$va-top-nav-profile-name-font-weight: 900;
$va-top-nav-profile-img-margin--x: 2.6rem;
$va-top-nav-profile-img-size: 4.1rem;
// Top Nav Profile Status Dot
$va-top-nav-profile-status-dot-bg-color: #64c23b;
$va-top-nav-profile-status-dot-border-color: #fff;
$va-top-nav-profile-status-dot-border-width: 0.2rem;
$va-top-nav-profile-status-dot-size: 1.2rem;

/*
 * Page-specific
 */

// Score Page Product
// Score Page Product Left Nav
$va-score-page-product-left-nav-padding--x: 3rem;
$va-score-page-product-left-nav-padding--y: 3.5rem;
// Score Page Product Left Nav Link
$va-score-page-product-left-nav-link-color: $va-brand-text-color--primary;
$va-score-page-product-left-nav-link-color--active: $va-brand-color--primary;
$va-score-page-product-left-nav-link-font-family: Lato;
$va-score-page-product-left-nav-link-font-size: 1.2rem;
$va-score-page-product-left-nav-link-font-weight: 600;
$va-score-page-product-left-nav-link-font-weight--active: 900;
$va-score-page-product-left-nav-link-padding--y: 1.1rem;

// Customer Details
$va-customer-details-profile-img-size: 7.3rem;

.va-text-field {
  background-color: $va-text-field-bg-color;
  border: $va-text-field-border-width solid $va-text-field-border-color;
  border-radius: $va-text-field-border-radius;
  cursor: text;
  display: block;
  height: $va-text-field-height;
  margin-bottom: 10px;
  position: relative;
}

.va-text-field__label-text {
  padding-left: $va-text-field-padding--x;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s, background-color 2s 0.3s;
  white-space: nowrap;
  width: 100%;
}

.va-text-field__label-text,
.va-text-field__input {
  color: $va-text-field-color;
  font-family: $va-text-field-font-family;
  font-size: $va-text-field-font-size;
  font-weight: $va-text-field-font-weight;
}

.va-text-field:focus-within .va-text-field__label-text {
  background-color: $va-text-field-label-bg-color--active;
  color: $va-text-field-color--active;
  font-size: $va-text-field-font-size--active;
  font-weight: $va-text-field-font-weight--active;
  top: 0;
  transform: translateY(0);
}

.va-text-field__input {
  background: none;
  border: none;
  height: 54%;
  // padding: $va-text-field-padding--y $va-text-field-padding--x;
  padding: 0 $va-text-field-padding--x;
  position: relative;
  top: 46%;
  width: 100%;
}

.va-text-field__input:focus {
  outline: 0;
}
