$avatar-border-radius: 20px;
$avatar-size: 200px;

$info-padding: 20px;

.user {
  display: inline-flex;
  align-items: center;
  padding: 20px;
  background-color: #009688;
  margin: 20px 0;
  border-radius: 8px;
}

.user__avatar {
  border-radius: $avatar-border-radius;
  height: $avatar-size;
  width: $avatar-size;
}

.user__info {
  padding: $info-padding;
}

.user__info__name {
  color: #313179;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
}
